#button1 {
  left: 470px;
  top: 400px;
}

.buttons {
  display: flex;
  position: absolute;
  border-radius: 25px;
  width: 280px;
  height: 110px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1.5px;
  border-color: white;
}

a: {
	font-family: Segoe UI Light;
    font-size: 40px;
	font-style: normal;
	color: white;
}

a:hover {
	color: #4ddbff;
}

a:visited {
	font-family: Segoe UI Light;
    font-size: 40px;
	font-style: normal;
	color: white;
}

.buttons:hover {
	border-color: #4ddbff;
	box-shadow: 0 4px 5px black;
	color: #4ddbff;
}

#button2 {
  left: 800px;
  top: 400px;
}

body {
	background-image: url('frontpage.jpg');
}

#sitename {
	position: absolute;
	left: 600px;
	top: 45px;
	font-family: Candara;
	font-style: italic;
	font-size: 95px;
	text-align: center;
	color: white;
}