.inputfield {
	width: 280px;
	height: 70px;
	font-family: Segoe UI Light;
	font-size: 25px;
	border-style: hidden;
	border-width: 1px;
	border-color: grey;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

body {
	background-image: url('frontpage.jpg');
}

#pagetitle {
	position: absolute;
	left: 640px;
	top: 45px;
	font-family: Candara;
	font-style: italic;
	font-size: 75px;
	text-align: center;
	color: white;
}

#su_input1 {
	position: absolute;
	left: 620px;
	top: 168px;
	text-align: center;
}

#su_input2 {
	position: absolute;
	left: 620px;
	top: 318px;
	text-align: center;
}

.fieldname
{
	height: 55px;
}

.field {
	font-family: Segoe UI Light;
	font-size: 35px;
	color: white;
	text-align: center;
}

#signupbutton {
	position: absolute;
	left: 645px;
	top: 508px;
	display: flex;
	color: white;
	text-align: center;
    justify-content: center;
    align-items: center;
	border-style: solid;
	border-color: white;
	border-width: 1.5px;
	border-radius: 25px;
	font-family: Segoe UI Light;
	font-size: 40px;
	width: 250px;
	height: 90px;
}

#signupbutton:hover {
	border-color: #4ddbff;
	color: #4ddbff;
	box-shadow: 0 4px 5px black;
}